@font-face {
    font-family: '나눔스퀘어R';
    src: url(font/NanumSquareR.woff);
}

body {
    margin: 0;
    font-family: '나눔스퀘어R';
}

.color-6fbaf8 {
    color: #6fbaf8;
}

.profile-background {
    background-color: #f7f9fc;
    padding: 40px;
}

.profile-container {
    background-color: white;
    box-shadow: 1px 1px 3px 0px #eee;
    border-radius: 7px;
}

.profile-button {
    padding-left: 25px;
    padding-right: 25px;
    background-color: #6fbaf8;
    color: white;
}

.profile-empty {
    border-right: 2px solid #eee;
}